<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="path/to/node_modules/normalize.css/normalize.css" rel="stylesheet" />
    <link href="path/to/node_modules/@blueprintjs/core/dist/blueprint.css" rel="stylesheet" />
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="pt-navbar .pt-dark">
        <div class="pt-navbar-group pt-align-left">
          <div class="pt-navbar-heading">Blueprint</div>
          <input class="pt-input" placeholder="Search files..." type="text" />
        </div>
        <div class="pt-navbar-group pt-align-right">
          <button class="pt-button pt-minimal pt-icon-home">Home</button>
          <button class="pt-button pt-minimal pt-icon-document">Files</button>
          <span class="pt-navbar-divider"></span>
          <button class="pt-button pt-minimal pt-icon-user"></button>
          <button class="pt-button pt-minimal pt-icon-notifications"></button>
          <button class="pt-button pt-minimal pt-icon-cog"></button>
        </div>
      </nav>
    </div>
  </body>
</html>